body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Nav barre */
nav {
    display: flex;
    background-color: rgb(41, 41, 43);
    height: 60px;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.aligner {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 15px;
}

nav li>a {
    color: rgb(143, 142, 142);
}

.actif {
    color: white;
    font-size: 15px;
}

nav button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

nav button span {
    width: 30px;
    height: 3px;
    background: white;
    display: block;
    position: relative;
}

nav button span::before,
nav button span::after {
    content: "";
    width: 30px;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
}

nav button span::before {
    top: -8px;
}

nav button span::after {
    top: 8px;
}

/* Header */
header {
    text-align: center;
    padding: 40px 10px;
    box-shadow: 0 5px 5px rgba(169, 169, 169, 0.2);
}

h1 {
    color: rgb(45, 44, 44);
    font-weight: 900;
    font-size: 32px;
    margin: 0;
}

header p {
    font-size: 18px;
    font-weight: lighter;
}

/* Contenu de page */
main section {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid rgba(169, 169, 169, 0.27);
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(169, 169, 169, 0.27);
}

main p {
    color: gray;
    line-height: 25px;
}

form,
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

#boutons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#boutons input {
    font-size: 16px;
    width: 30%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(169, 169, 169);
    background-color: white;
    color: gray;
}

#boutons input:hover {
    cursor: pointer;
    background-color: rgb(169, 169, 169);
    color: white;
    box-shadow: 0 5px 5px rgba(169, 169, 169, 0.27);
}


footer {
    background-color: rgb(45, 44, 44);
    text-align: center;
    padding: 15px 0;
    color: white;
}

footer a{
    color:white;
    text-decoration: underline;
}

/* Version Tablette*/
@media (max-width: 900px) {
    main section {
        width: 70%;
    }

    #boutons input {
        width: 40%;
    }
}

/* Version Mobile*/
@media (max-width: 600px) {

    nav {
        padding: 0 10px;
    }

    /* bouton menu visible */
    nav button {
        display: block;
    }

    /* menu caché */
    nav ul {
        display: none;
        flex-direction: column;
        background: rgb(41, 41, 43);
        position: absolute;
        top: 60px;
        right: 0;
        width: 60%;
        padding: 20px;
    }

    /* menu visible quand actif */
    nav ul.active {
        display: flex;
    }

    main section {
        width: 90%;
    }

    #boutons {
        flex-direction: column;
        gap: 15px;
    }

    #boutons input {
        width: 100%;
    }

    h1 {
        font-size: 26px;
    }
}